.shareA_pg {
	width: 100%;
	text-align: center;
}

.shareA_pg>img {
	width: 100%;
}

.shareA_pg>h3 {
	font-weight: normal;
	margin-top: 7rem;
	font-size: 4.4rem;
	color: #333333;
	letter-spacing: 0;
	line-height: 6rem;
}

.shareA_pg>span {
	font-size: 3.6rem;
	color: #A6A6A6;
	letter-spacing: 0;
	margin-top: 0.9rem;
	line-height: 5rem;
}

.shareA_pg>p {
	text-align: justify;
	display: block;
	width: 88.12%;
	margin: 0 auto;
	margin-top: 5rem;
	font-size: 4.2rem;
	color: #333333;
	letter-spacing: 0;
	word-break: break-all;
	line-height: 5rem;
}